:root {
  --primary-dark: #ffb3b0;
  --background-dark: #201a1a;
  --on-background-dark: #ede0de;
  --primary-container-dark: #93001b;
  --on-primary-container-dark: #ffdad8;
  --tertiary-container-dark: #5a4319;
  --on-tertiary-container-dark: #ffdeaa;
  --scrollbar-dark: #534342;

  --exercise-icon-filter-dark: invert(83%) sepia(16%) saturate(345%)
    hue-rotate(314deg) brightness(103%) contrast(101%);
  --custom-exercise-icon-filter-dark: invert(93%) sepia(14%) saturate(1223%)
    hue-rotate(322deg) brightness(101%) contrast(102%);
}

@font-face {
  font-family: "Inter";
  src: url(assets/font/Inter-Medium.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url(assets/font/Inter-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* CSS für die Seite */
body {
  /* Light Theme */
  --primary-light: #bf0026;
  --background-light: #fffbff;
  --on-background-light: #201a1a;
  --primary-container-light: #ffdad8;
  --on-primary-container-light: #410006;
  --tertiary-container-light: #ffdeaa;
  --on-tertiary-container-light: #271900;
  --on-background-dark: #ede0de;
  --scrollbar-light: #ede0de;
  --transparent: #00000000;

  --exercise-icon-filter-light: invert(4%) sepia(51%) saturate(7483%)
    hue-rotate(347deg) brightness(96%) contrast(104%);
  --custom-exercise-icon-filter-light: invert(11%) sepia(16%) saturate(4643%)
    hue-rotate(20deg) brightness(97%) contrast(104%);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--background-light);
}

body.theme-dark {
  --primary-light: var(--primary-dark);
  --background-light: var(--background-dark);
  --on-background-light: var(--on-background-dark);
  --primary-container-light: var(--primary-container-dark);
  --on-primary-container-light: var(--on-primary-container-dark);
  --tertiary-container-light: var(--tertiary-container-dark);
  --on-tertiary-container-light: var(--on-tertiary-container-dark);
  --scrollbar-light: var(--scrollbar-dark);

  --exercise-icon-filter-light: var(--exercise-icon-filter-dark);
  --custom-exercise-icon-filter-light: var(--custom-exercise-icon-filter-dark);
}

@media (prefers-color-scheme: dark) {
  body.theme-auto {
    --primary-light: var(--primary-dark);
    --background-light: var(--background-dark);
    --on-background-light: var(--on-background-dark);
    --primary-container-light: var(--primary-container-dark);
    --on-primary-container-light: var(--on-primary-container-dark);
    --tertiary-container-light: var(--tertiary-container-dark);
    --on-tertiary-container-light: var(--on-tertiary-container-dark);
    --scrollbar-light: var(--scrollbar-dark);

    --exercise-icon-filter-light: var(--exercise-icon-filter-dark);
    --custom-exercise-icon-filter-light: var(
      --custom-exercise-icon-filter-dark
    );
  }
}

.select {
  position: absolute;
  top: 3vh;
  right: 2vw;
  display: inline-flex;
  align-items: center;
  padding: 5px 8px;
  border-radius: 10px;
}

.select__input {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--on-background-light);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  transition: font-size 0.3s ease;
}

.select__input:hover {
  font-size: 1.02vw;
}

.select__input option {
  color: #201a1a;
}

/* Navbar */
.nav-item {
  position: absolute;
  top: 3vh;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  color: var(--on-background-light);
  transition: font-size 0.3s ease;
}

.nav-item:hover {
  font-size: 1.02vw;
}

/* Einstellungen */
#settings {
  left: 2vw;
}

/* Favoriten */
#favorite {
  left: 12vw;
}

/* Profil */
#profile {
  left: 20vw;
}

#title {
  position: absolute;
  top: 3vh;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 6vw;
  text-align: center;
  color: var(--on-background-light);
}

.grid-container {
  position: absolute;
  width: 62vw;
  height: 57vh;
  top: 20vh;
  overflow: auto; /* Hinzugefügtes CSS-Overflow-Attribut */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Anzahl der Spalten auf 2 ändern */
  grid-gap: 1vw;
}

.grid-item {
  position: relative;
  border-radius: 20px;
  background-color: var(--primary-container-light);
  width: 29.5vw;
  height: 16vh;
  border-radius: 20px;
}

.grid-item:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Definiert den Schatten für den Hover-Zustand */
}

.grid-container:hover {
  overflow: auto; /* Scroll-Leiste anzeigen, wenn der Container gehovert wird */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.grid-container::-webkit-scrollbar {
  width: 8px; /* Breite der Scroll-Leiste */
}

.grid-container::-webkit-scrollbar-thumb {
  background-color: var(
    --primary-container-light
  ); /* Hintergrundfarbe des Scroll-Leisten-Griffs */
  border-radius: 4px; /* Radius des Scroll-Leisten-Griffs */
}

.grid-container::-webkit-scrollbar-track {
  background-color: var(
    --scrollbar-light
  ); /* Hintergrundfarbe der Scroll-Leiste */
  border-radius: 4px; /* Radius der Scroll-Leiste */
}

.grid-container::-webkit-scrollbar-thumb:hover {
  background-color: var(
    --primary-light
  ); /* Hintergrundfarbe des Scroll-Leisten-Griffs beim Hover */
}

.exercise-icon {
  position: absolute;
  height: 8vh;
  left: 2vh;
  top: 50%;
  transform: translateY(-50%);
  filter: var(--exercise-icon-filter-light);
}

.exercise-title {
  position: relative;
  left: 6vw;
  top: 25%;
  transform: translateY(-50%);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4vw;
  line-height: 2.4vw;
  color: var(--on-primary-container-light);
}

.exercise-description {
  position: relative;
  left: 6vw;
  top: 25%;
  height: 2vw;
  width: 23vw;
  transform: translateY(-50%);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 1.2vw;
  color: var(--on-primary-container-light);
}

#custom-exercise {
  position: absolute;
  width: 62vw;
  height: 16vh;
  left: 50%;
  transform: translateX(-50%);
  top: 79vh;
  background: var(--tertiary-container-light);
  border-radius: 20px;
}

#custom-exercise:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Definiert den Schatten für den Hover-Zustand */
}

#custom-exercise-icon {
  position: absolute;
  height: 8vh;
  left: 2vh;
  top: 50%;
  transform: translateY(-50%);
  filter: var(--custom-exercise-icon-filter-light);
}

#custom-exercise-title {
  position: relative;
  left: 6vw;
  top: 25%;
  transform: translateY(-50%);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4vw;
  line-height: 2.4vw;
  color: var(--on-tertiary-container-light);
}

#custom-exercise-description {
  position: relative;
  left: 6vw;
  top: 25%;
  height: 2vw;
  width: 42vw;
  transform: translateY(-50%);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 1.2vw;
  color: var(--on-tertiary-container-light);
}

@media screen and (max-width: 600px) {
  .select {
    top: 1vh;
    right: 2vw;
  }

  .select__input {
    font-size: 4vw;
  }

  .select__input:hover {
    font-size: 4.08vw;
  }

  /* Navbar */
  .nav-item {
    display: none;
  }

  #title {
    top: 3vh;
    font-size: 12vw;
  }

  .grid-container {
    width: 90vw;
    height: 73vh;
    top: 12vh;
    grid-template-columns: repeat(1, 1fr); /* Anzahl der Spalten auf 2 ändern */
    grid-gap: 2vw;
  }

  .grid-item {
    width: 90vw;
    height: 10vh;
    overflow: hidden;
  }

  .grid-container::-webkit-scrollbar {
    width: 0px;
  }

  .exercise-icon {
    height: 6vh;
    left: 1vh;
  }

  .exercise-title {
    left: 18vw;
    top: 25%;
    font-size: 4.2vw;
    line-height: 2.4vw;
  }

  .exercise-description {
    left: 18vw;
    top: 35%;
    width: 70vw;
    font-size: 2.8vw;
    line-height: 3.2vw;
  }

  #custom-exercise {
    width: 90vw;
    height: 10vh;
    top: 86vh;
  }

  #custom-exercise-icon {
    height: 6vh;
    left: 1vh;
  }

  #custom-exercise-title {
    left: 18vw;
    top: 25%;
    font-size: 4.2vw;
    line-height: 2.4vw;
  }

  #custom-exercise-description {
    left: 18vw;
    top: 35%;
    height: 2vw;
    width: 60vw;
    font-size: 2.8vw;
    line-height: 3.2vw;
  }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .select {
    top: 1vh;
    right: 4vw;
  }

  .select__input {
    font-size: 3vw;
  }

  .select__input:hover {
    font-size: 3.06vw;
  }

  /* Navbar */
  .nav-item {
    display: none;
  }

  #title {
    top: 2vh;
    font-size: 12vw;
  }

  .grid-container {
    width: 90vw;
    height: 72.5vh;
    top: 12vh;
    grid-template-columns: repeat(1, 1fr); /* Anzahl der Spalten auf 2 ändern */
    grid-gap: 2vw;
  }

  .grid-item {
    width: 90vw;
    height: 10vh;
    overflow: hidden;
  }

  .grid-container::-webkit-scrollbar {
    width: 0px;
  }

  .exercise-icon {
    height: 6vh;
    left: 2.5vh;
  }

  .exercise-title {
    left: 16vw;
    top: 25%;
    font-size: 3.8vw;
    line-height: 2.4vw;
  }

  .exercise-description {
    left: 16vw;
    top: 35%;
    width: 72vw;
    font-size: 2.2vw;
    line-height: 3.2vw;
  }

  #custom-exercise {
    width: 90vw;
    height: 10vh;
    top: 86vh;
  }

  #custom-exercise-icon {
    height: 6vh;
    left: 2.5vh;
  }

  #custom-exercise-title {
    left: 16vw;
    top: 25%;
    font-size: 3.8vw;
    line-height: 2.4vw;
  }

  #custom-exercise-description {
    left: 16vw;
    top: 35%;
    height: 2vw;
    width: 75vw;
    font-size: 2.2vw;
    line-height: 3.2vw;
  }
}
