* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #fffbff;
}

#circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #ffdad8;
}

@keyframes inhaleAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.333);
  }
}

@keyframes inhaleHoldAnimation {
  0% {
    transform: scale(1.333);
  }
  100% {
    transform: scale(1.333);
  }
}

@keyframes exhaleAnimation {
  0% {
    transform: scale(1.333);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes exhaleHoldAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

#inner-marker {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #00000000;
  border: 2px solid #000000;
  z-index: 1;
  position: absolute;
}

#outer-marker {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #fffbff;
  outline: 2px solid #000000;
  z-index: -1;
  position: absolute;
}

#circular-progress{
  position: absolute;
  height: 410px;
  width: 410px;
  border-radius: 50%;
  background: conic-gradient(#7d2ae8 3.6deg, #ededed 0deg);
  display: flex;
  z-index: -2;
}