:root {
  --primary-light: #bf0026;
  --background-light: #fffbff;
  --primary-containers-light: #ffdad8;
  --on-background-light: #201a1a;
  --transparent: #00000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--background-light);
}

#circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--primary-containers-light);
}

@keyframes inhaleAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.333);
  }
}

@keyframes inhaleHoldAnimation {
  0% {
    transform: scale(1.333);
  }
  100% {
    transform: scale(1.333);
  }
}

@keyframes exhaleAnimation {
  0% {
    transform: scale(1.333);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes exhaleHoldAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

#inner-marker {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--transparent);
  border: 2px solid var(--on-background-light);
  z-index: 1;
  position: absolute;
}

#outer-marker {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: var(--background-light);
  outline: 2px solid var(--on-background-light);
  z-index: -1;
  position: absolute;
  /*   transition: width 0.2s ease-in-out, height 0.1s ease-in-out; */
}

#circular-progress {
  position: absolute;
  height: 408px;
  width: 408px;
  border-radius: 50%;
  background: conic-gradient(
    var(--on-background-light) 3.6deg,
    var(--background-light) 0deg
  );
  display: flex;
  z-index: -2;
}

#back {
  height: 30px;
  position: absolute;
  top: 48px;
  left: 48px;
  transition: transform 0.3s ease-in-out;
}

#back:hover {
  transform: scale(1.1);
}

/* CSS für den Übergang */
.transition-fade {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}
.transition-fade.fade-out {
  opacity: 0;
}
